{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- <div class="w-full bg-white px-3 md:px-48 py-8 space-y-3 text-gray-700">

  <img src="{% static 'vendors/images/my_life.jpg' %}" alt="about me" class="w-full object-cover">

</div> -->

<section class="w-screen px-3 md:px-48 py-8 space-y-3 text-gray-700 bg-[#F7FAFC]">
  <h4 class="text-center text-xl md:text-2xl font-bold">PERSONAL </h4>

  <p class="md:text-base text-base font-light text-justify">
    Mr Rahul and his wife , Krishna are proud parents to Kareem and Annie , Born and raised in New York, Rahul Attended LSU where he obtained a Bachelors in Finance and Masters in Accounting. After moving to Atlanta in 2006, Rahul worked as a consultant with Ernst & Young prior to starting his financial planning practice in 2009. Rahul enjoys being outdoors, spending time with friends and family, playing tennis and golf, traveling, and supporting the Atlanta Braves, New Orleans Saints, and LSU Tigers.
  </p>

</section>

<section class="w-screen px-3 md:px-48 py-8 space-y-3 text-gray-700 bg-white">
  <img src="{% static 'vendors/images/best_forbes.jpeg' %}" alt="best forbes" class="w-full object-contain">
</section>



<section class="w-screen px-3 md:px-48 py-8 space-y-3 text-gray-700 bg-[#F7FAFC]">
  <h4 class="text-center text-xl md:text-2xl font-bold">PROFESSIONAL</h4>

  <p class="md:text-base text-base font-light text-justify">
    <strong class="font-bold">My Process</strong>
    Before I can speak intelligently about the services that might be appropriate for you and your family, I need to get to know you. And, before you can feel comfortable sharing your goals and dreams, you need to get to know me. That's why I work closely with my clients to develop innovative solutions that meet their long-term financial goals and objectives.
  </p>

  <p class="md:text-base text-base font-light text-justify">
    <strong class="font-bold">My Services</strong>
    I deliver comprehensive financial planning to individuals, families, and business owners by building tax advantaged wealth accumulation strategies that also address the short and long-term risks that can interrupt your cash flow. Conversations with my clients typically revolve around putting together a long-term financial game plan that encompasses managing investments, mitigating risk, and saving money tax efficiently.
  </p>

  <p class="md:text-base text-base font-light text-justify">
    <strong class="font-bold">Years of Experience</strong>
    I started my financial planning practice with Citigroup Global Market in 2009. Prior to this, I spent three years as a consultant with Ernst & Young
  </p>

  <p class="md:text-base text-base font-light text-justify">
    <strong class="font-bold">FINRA Report</strong>
    <a href="https://files.brokercheck.finra.org/individual/individual_5910310.pdf" target="_blank" class="block text-blue-500 hover:font-bold duration-300 text-font-normal text-base hover:underline">Rahul's Financial Record and Verifiable Documentation</a>
  </p>

</section>

<section class="w-screen px-3 md:px-48 py-8 space-y-3 text-gray-700 bg-white">
  <h4 class="text-center text-xl md:text-2xl font-bold">Certifications</h4>

  <p class="md:text-base text-base font-light text-justify">
    <strong class="font-bold">CERTIFIED FINANCIAL PLANNER™ Professional</strong>
    The CERTIFIED FINANCIAL PLANNER™ Professional certification is one of the most recognized financial planning marks in the world. The certification identifies to the public those individuals who have met rigorous professional standards and have agreed to adhere to the principles of integrity, objectivity, competence, fairness, confidentiality, professionalism, and diligence when dealing with clients. The certification differs from an educational designation or state license in that it is based upon requirements that have been determined by extensive job analyses of actual practitioners in the field, and therefore, continue to evolve with the profession. The certification prepares the financial services professional for a career-long commitment to meeting the ever-changing financial needs of clients.
  </p>

  <p class="md:text-base text-base font-light text-justify">
    <strong class="font-bold">Certified in Long Term Care (CLTC)</strong>
    The "Certified in Long-Term Care" (CLTC) designation was created in 1999. It focuses on the discipline of extended care planning. It provides professionals the critical tools necessary to discuss the subject of longevity and its consequences on their client's family and finances. Certificants learn how to mitigate these consequences by developing a plan to protect their clients and their families.
  </p>

  <p class="md:text-base text-base font-light text-justify">
    <strong class="font-bold">Chartered Life Underwriter (CLU®)</strong>
    The CLU® is respected internationally as risk management's highest standard of knowledge and trust. Since 1927, The American College has awarded this designation to professionals The "Certified in Long-Term Care" (CLTC) designation was created in 1999. It focuses on the discipline of extended care planning. It provides professionals the critical tools necessary to discuss the subject of longevity and its consequences on their client's family and finances. Certificants learn how to mitigate these consequences by developing a plan to protect their clients and their families who obtain the advanced education to address the insurance needs of every client they serve.
  </p>

</section>

{% endblock content %}

