{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="w-full bg-white px-3 md:px-48 py-8 space-y-3 text-gray-700">
  <h4 class="text-center text-xl md:text-2xl font-bold">"Simplifying and Coordinating Your Financial Life to Help You More Visibly Connect Your Resources and Choices With Your Vision of Financial Success." </h4>

  <strong class="text-center text-xl md:text-2xl font-bold block">-- Rahul Sahil Gupta Wealth Management</strong>

  <p class="md:text-base text-base font-light text-justify">
    We specialize in comprehensive financial planning for pre-retirees, small business owners, CPAs, physicians, and other high-income earners. We partner closely with our clients to develop personalized financial plans that help them coordinate and manage the key areas of their financial lives - wealth, financial risk, and the impact of taxes.
  </p>

  <p class="md:text-base text-base font-light text-justify mb-6">
    As a licensed and experienced CPA, as well as a CERTIFIED FINANCIAL PLANNER™ professional, Rahul is uniquely qualified to be at the center of our clients' financial lives. After working as a consultant with Ernst & Young, Rahul launched his own financial planning practice in 2009 and has partnered with the Citigroup Global Market Wealth Management Company, which is comprised of a national team of specialists experienced in estate planning, business continuity & succession, and executive benefits, to help serve our clients even more robustly.
  </p>

  <div class="w-full object-cover h-96 overflow-hidden relative mb-6">
    <img src="{% static 'vendors/images/team.jpg' %}" alt="Team" class="w-full absolute left-0 md:-top-2/3 object-cover">
  </div>
</div>

<section class="w-screen px-3 md:px-48 py-8 space-y-3 text-gray-700 bg-[#F7FAFC]">
  <h4 class="text-center text-xl md:text-2xl font-bold">INVESTMENT MANAGEMENT IS NOT PLANNING! </h4>

  <p class="md:text-base text-base font-light text-justify">
    There are four key strategies you can implement with money – protect, grow, distribute, and transfer. Many people assume that all financial advisors do the same thing – manage money (i.e. “grow”). While this is true of many advisors in the financial services industry, our holistic planning approach is unique in that it addresses all four areas as we focus on achieving our clients’ most important goals at every life stage.
  </p>

  <p class="md:text-base text-base font-light text-justify mb-6">
    What makes us different, and what our clients really enjoy about the work we do, is our knowledge of, and commitment to, authentic financial planning. Most firms focus on product solutions or specific strategies, whereas our focus is to help our clients develop a written, customized plan that gets them to where they want to be and that helps them stay the course along the way.
  </p>
</section>

<section class="w-screen px-3 md:px-48 py-8 space-y-3 text-gray-700 bg-white">
  <h4 class="text-center text-xl md:text-2xl font-bold">ALREADY WORKING WITH AN ADVISOR? </h4>

  <p class="md:text-base text-base font-light text-justify">
    Our clients are busy, smart, and financially responsible. Many have “checked all the boxes” along the way and there isn’t necessarily anything that’s “broken.” However, we can often find ways to complement the planning that is already being done through innovative thinking and strategic integration of strategies that other firms simply may not be familiar with. Our goal is to enhance, not replace, the financial planning that is currently in place by serving one specific role on your financial team.
  </p>
</section>

<section class="w-screen px-3 md:px-48 py-8 space-y-3 text-gray-700 bg-[#F7FAFC]">
  <h4 class="text-center text-xl md:text-2xl font-bold">SPEND YOUR LIFE LIVING </h4>

  <p class="md:text-base text-base font-light text-justify">
    The dust never settles. Keeping pace with life's changes may seem to never end. Life evolves, changes direction, presents challenges, and leads to new possibilities. Your approach to financial security cannot be static, because as your life changes, so do your needs and goals. At Citigroup Global Market our integrated, holistic financial planning process helps you face challenges and plan for the future while you Spend Your Life Living today!
  </p>

</section>

{% endblock content %}

