{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="w-screen px-3 md:px-48 py-8 space-y-3 text-gray-700 bg-[#F7FAFC]">
  <h4 class="text-center text-xl md:text-2xl font-bold">CALCULATORS </h4>
  <p class="md:text-base text-base font-light text-justify">
    Use these free interactive calculators to estimate or compare many aspects of your financial welfare. You'll find calculators to help you determine your insurance needs, retirement funding requirements, and your college savings budget. These tools can help you get a jump start on a secure financial future.
  </p>
  <p class="md:text-base text-base font-light text-justify">
    These calculators are hypothetical examples used for illustrative purposes and do not represent the performance of any specific investment or product. Rates of return will vary over time, particularly for long-term investments. Investments offering the potential for higher rates of return also involve a higher degree of risk of loss. Actual results will vary.
  </p>
</section>
<section class="w-screen px-3 md:px-48 py-8 space-y-3 text-gray-700 bg-white">
  <h4 class="text-center text-xl md:text-2xl font-bold">BUDGET </h4>
  <a href="https://calculator.northwesternmutual.com/response/lf-northwesternmutual/calc/budget03" class="block font-bold text-xl text-citibank">How much am I spending?</a>
  <a href="https://calculator.northwesternmutual.com/response/lf-northwesternmutual/calc/budget03https://calculator.northwesternmutual.com/response/lf-northwesternmutual/calc/budget04" class="block font-bold text-xl text-citibank">Should I pay off debt or invest in savings?</a>
  <a href="https://calculator.northwesternmutual.com/response/lf-northwesternmutual/calc/budget06" class="block font-bold text-xl text-citibank">How much should i set aside for emergencies?</a>
  <a href="https://calculator.northwesternmutual.com/response/lf-northwesternmutual/calc/budget07" class="block font-bold text-xl text-citibank">How much will it cost to rasie a child?</a>
</section>
<section class="w-screen px-3 md:px-48 py-8 space-y-3 text-gray-700 bg-[#F7FAFC]">
  <h4 class="text-center text-xl md:text-2xl font-bold">IRA </h4>
  <a href="https://calculator.northwesternmutual.com/response/lf-northwesternmutual/calc/rothira02" class="block font-bold text-xl text-citibank">Should I convert my IRA into a Roth IRA?</a>
  <a href="https://calculator.northwesternmutual.com/response/lf-northwesternmutual/calc/rothira03" class="block font-bold text-xl text-citibank">How much may  I contribute to an IRA?</a>
  <a href="https://calculator.northwesternmutual.com/response/lf-northwesternmutual/calc/rothira01a" class="block font-bold text-xl text-citibank">Which will provide the most retirement income?</a>
  <a href="https://calculator.northwesternmutual.com/response/lf-northwesternmutual/calc/rothira01b" class="block font-bold text-xl text-citibank">How will changes in my tax rate affect my decision?</a>
  <a href="https://calculator.northwesternmutual.com/response/lf-northwesternmutual/calc/rothira01g" class="block font-bold text-xl text-citibank">When should I begin saving?</a>
</section>

{% endblock content %}

