{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="w-screen px-3 md:px-48 py-8 space-y-3 text-gray-700 bg-[#F7FAFC]">
  <h4 class="text-center text-xl md:text-2xl font-bold">Get to know my dedicated team </h4>

  <p class="md:text-base text-base font-light text-justify">
    As a Wealth Management Advisor affiliated with Citigroup Global Market, I am committed to helping my clients whether they are concerned for their own financial needs or those of their family or business. I don't do it alone. Here you will find a listing of the people who help make it happen.
  </p>
  <p class="md:text-base text-base font-light text-justify">
    Together, we stand committed to providing the best customer service possible. If you have a problem or need assistance at any time, please let us know.
  </p>

  <div class="w-full p-6 md:flex md:items-center md:space-x-4 md:space-y-0 sace-y-4">
    <img src="{% static 'vendors/images/teams/felipe.jpg' %}" alt="Felipe" class="h-54 w-54 object-cover">
    <div class="text-center space-y-3 md:text-left">
      <h4 class="font-bold text-xl">Felipe Quinn</h4>
      <span class="block text-base font-light">Director of Planning</span>
      <p class="font-normal text-base text-gray-700/40">
       Felipe was born and raised in Johns Creek, GA, graduated from the University of Georgia (Go Dawgs!) in May 2020 with a degree in Finance and an emphasis in Pricing and Valuation. In her free time while in college, she volunteered as a math tutor for middle schoolers, worked with Special Olympics, was in a sorority, and loved to attend UGA sporting events. Felipe loves traveling to new places with both family and friends. A couple of her favorite cities she has visited are Barcelona, Spain and Sydney, Australia. She is also a big fan of Georgia football & the Green Bay Packers! Felipe joined Rahul Sahil Gupta's team in September 2020. As an Associate Wealth Management Advisor, Felipe holds the following licenses and certifications: • Series 7 General Securities Registered Representative license • Series 63 Uniform Securities Agent State Law certification • Georgia Variable Products license • Georgia Life, Accident and Sickness insurance license • Long Term Care license
      </p>
    </div>
  </div>
  <div class="w-full p-6 md:flex md:items-center md:space-x-4 md:space-y-0 sace-y-4">
    <img src="{% static 'vendors/images/teams/ben.jpg' %}" alt="Ben" class="h-54 w-54 object-cover">
    <div class="text-center space-y-3 md:text-left">
      <h4 class="font-bold text-xl">Ben Handley</h4>
      <span class="block text-base font-light">Director of Investment</span>
      <p class="font-normal text-base text-gray-700/40">
        Ben was raised in the South Carolina low country. He attended Clemson University where he obtained his degree in Finance. Upon graduation, Ben moved to Atlanta and worked as an accountant at a local real estate firm for several years before seeking out a career in wealth management & financial planning. Ben enjoys exploring the outdoors, spending time with friends, and playing sports. As an Associate Wealth Management Advisor, Ben holds the following licenses and certifications: • Series 7 General Securities Registered Representative license • Series 63 Uniform Securities Agent State Law certification • Georgia Variable Products license • Georgia Life, Accident and Sickness insurance license • Long Term Care license
      </p>
    </div>
  </div>
  <div class="w-full p-6 md:flex md:items-center md:space-x-4 md:space-y-0 sace-y-4">
    <img src="{% static 'vendors/images/teams/hazel.jpg' %}" alt="Hazel" class="h-54 w-54 object-cover">
    <div class="text-center space-y-3 md:text-left">
      <h4 class="font-bold text-xl">Hazel Whitten</h4>
      <span class="block text-base font-light">Director of Insurance</span>
      <p class="font-normal text-base text-gray-700/40">
        Katy was born and raised in the metro Atlanta area. She earned a scholarship to the University of North Carolina at Charlotte where she was a pitcher for the 49ers softball team. Upon college graduation, Katy played professionally in Germany before returning to her alma mater as the pitching coach for two years. She enjoys attending sporting events, spending time with her family, and traveling. Katy began her career with Citigroup Global Market in 2014 and joined Rahul Sahil Gupta’s team in 2016. Katy handles client servicing, insurance underwriting, marketing, and business operations for the team. As an Associate Financial Representative, Katy holds the following licenses and certifications: • Georgia Life, Accident and Sickness insurance license • Long Term Care license • Series 6 Investment Company/Variable Contracts Products Limited Representative license • Series 63 Uniform Securities Agent State Law certification • Georgia Variable Products license
      </p>
    </div>
  </div>
  <div class="w-full p-6 md:flex md:items-center md:space-x-4 md:space-y-0 sace-y-4">
    <img src="{% static 'vendors/images/teams/kenny.jpg' %}" alt="Kenny" class="h-54 w-54 object-cover">
    <div class="text-center space-y-3 md:text-left">
      <h4 class="font-bold text-xl">Kenny Kaseta</h4>
      <span class="block text-base font-light">Director of Marketing</span>
    </div>
  </div>
  <div class="w-full p-6 md:flex md:items-center md:space-x-4 md:space-y-0 sace-y-4">
    <img src="{% static 'vendors/images/teams/larry.jpg' %}" alt="Larry" class="h-54 w-54 object-cover">
    <div class="text-center space-y-3 md:text-left">
      <h4 class="font-bold text-xl">Larry Gist</h4>
      <span class="block text-base font-light">CLU<sup>®</sup>, ChFC<sup>®</sup></span>
      <span class="block text-base font-light">Chief Operations Officer</span>
    </div>
  </div>
</section>
{% endblock content %}

